{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <h2>WELCOME TO CAT-DOG PREDICTION</h2>
          <form method="POST" action="{{url_for('home')}}" enctype="multipart/form-data">
              <input type="file" name='image' class='btn btn-outline-secondary'>
              <input type="submit" class='btn btn-outline-secondary'>
          </form>
        </div>
        <div class="col-lg-2"></div>
    </div>
{% endblock %}
{% block style %}
{% endblock %}