{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            {% if data[1] > 0.50 %}
                <h1>Its a Dog</h1>
            {%else%}
                <h1>Its a Cat</h1>
            {%endif%}
            <img src="{{url_for('load_img')}}" alt='img' class="output-img">
        </div>
    </div>
{% endblock %}
{% block footer %}
    <a href="/" class='btn btn-outline-secondary'>go back</a>
{% endblock %}
{% block style %}
    <style>
        .output-img {
            width: 800px;
            height: 500px;
        }
    </style>
{% endblock %}